In [11]:
import pandas as pd

In [12]:
# raw_list = pd.read_csv("~/Downloads/lane_county - lane_county_selected.csv")
raw_list = pd.read_csv("https://irma.gatehousemedia.com/misc/20200417-covid-county-analysis/dailyreport-latest.csv")

In [13]:
raw_list.head()

,state,county,mydate,pop,fullfips,confirmed,deaths,cpc,dpc,cday,dday,cweek,dweek,2-week per-capita growth,2-week percentage growth
0,American Samoa,NaN,20200122,55641,60.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1,American Samoa,NaN,20200123,55641,60.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2,American Samoa,NaN,20200124,55641,60.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
3,American Samoa,NaN,20200125,55641,60.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4,American Samoa,NaN,20200126,55641,60.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [14]:
raw_list.state.value_counts()

Texas                       45056
Georgia                     28336
Virginia                    23760
Kentucky                    21472
Missouri                    20768
Kansas                      18832
Illinois                    18304
North Carolina              17952
Iowa                        17776
Tennessee                   17072
Nebraska                    16720
Indiana                     16544
Ohio                        15840
Minnesota                   15664
Michigan                    15312
Mississippi                 14784
Oklahoma                    13904
Arkansas                    13552
Wisconsin                   13024
Florida                     12144
Pennsylvania                12144
Alabama                     12144
South Dakota                11968
Louisiana                   11616
Colorado                    11616
New York                    11264
California                  10560
Montana                     10208
West Virginia               10032
North Dakota                 9680
South Carolina               8448
Idaho                        8096
Washington                   7216
Oregon                       6688
Utah                         6512
New Mexico                   6160
Alaska                       5456
Maryland                     4576
Wyoming                      4400
New Jersey                   4048
Nevada                       3344
Maine                        3168
Arizona                      2992
Massachusetts                2992
Vermont                      2816
New Hampshire                2112
Connecticut                  1760
Hawaii                       1232
Rhode Island                 1232
Delaware                      880
District of Columbia          528
Grand Princess                176
American Samoa                176
Diamond Princess              176
Puerto Rico                   176
Virgin Islands                176
Guam                          176
Northern Mariana Islands      176
Name: state, dtype: int64

In [15]:
# Just get the rows of the county you want
my_state = 'Oregon'
my_county = 'Lane'

raw_list['mydate'] = pd.to_datetime(raw_list['mydate'], format='%Y%m%d')

lc_or = raw_list.loc[(raw_list['state'] == my_state) & (raw_list['county'] == my_county) & (raw_list['mydate'] > '2020-02-29')]

# Use copy() method, otherwise the new DataFrame is a "slice" of the original
# https://stackoverflow.com/questions/60639531/a-value-is-trying-to-be-set-on-a-copy-of-a-slice-from-a-dataframe-using-pandas
lc_or_select = lc_or[['mydate', 'cday', 'dday']].copy()

In [16]:
lc_or_select['ma'] = lc_or_select['cday'].rolling(7).mean()

In [17]:
lc_or_select.head()

           mydate  cday  dday  ma
406599 2020-03-01     0     0 NaN
406600 2020-03-02     0     0 NaN
406601 2020-03-03     0     0 NaN
406602 2020-03-04     0     0 NaN
406603 2020-03-05     0     0 NaN

In [18]:
lc_or_select.to_csv('{}{}.csv'.format(my_state, my_county), index=False)