In [224]:
import pandas as pd

In [225]:
# raw_list = pd.read_csv("~/Downloads/lane_county - lane_county_selected.csv")
raw_list = pd.read_csv("https://irma.gatehousemedia.com/misc/20200417-covid-county-analysis/dailyreport-latest.csv")

In [226]:
raw_list.head()

,state,county,mydate,pop,fullfips,confirmed,deaths,cpc,dpc,cday,dday,cweek,dweek,2-week per-capita growth,2-week percentage growth
0,American Samoa,NaN,20200122,55641,60.0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,American Samoa,NaN,20200123,55641,60.0,0,0,0,0,0.0,0.0,NaN,NaN,NaN,NaN
2,American Samoa,NaN,20200124,55641,60.0,0,0,0,0,0.0,0.0,NaN,NaN,NaN,NaN
3,American Samoa,NaN,20200125,55641,60.0,0,0,0,0,0.0,0.0,NaN,NaN,NaN,NaN
4,American Samoa,NaN,20200126,55641,60.0,0,0,0,0,0.0,0.0,NaN,NaN,NaN,NaN

In [227]:
raw_list.state.value_counts()

Texas                       44544
Georgia                     28014
Virginia                    23490
Kentucky                    21228
Missouri                    20532
Kansas                      18618
Illinois                    18096
North Carolina              17748
Iowa                        17574
Tennessee                   16878
Nebraska                    16530
Indiana                     16356
Ohio                        15660
Minnesota                   15486
Michigan                    15138
Mississippi                 14616
Oklahoma                    13746
Arkansas                    13398
Wisconsin                   12876
Alabama                     12006
Florida                     12006
Pennsylvania                12006
South Dakota                11832
Louisiana                   11484
Colorado                    11484
New York                    11136
California                  10440
Montana                     10092
West Virginia                9918
North Dakota                 9570
South Carolina               8352
Idaho                        8004
Washington                   7134
Oregon                       6612
Utah                         6438
New Mexico                   6090
Alaska                       5394
Maryland                     4524
Wyoming                      4350
New Jersey                   4002
Nevada                       3306
Maine                        3132
Arizona                      2958
Massachusetts                2958
Vermont                      2784
New Hampshire                2088
Connecticut                  1740
Hawaii                       1218
Rhode Island                 1218
Delaware                      870
District of Columbia          522
Northern Mariana Islands      174
American Samoa                174
Puerto Rico                   174
Grand Princess                174
Guam                          174
Diamond Princess              174
Virgin Islands                174
Name: state, dtype: int64

In [228]:
# Just get the rows of the county you want
my_state = 'Missouri'
my_county = 'St. Louis'

raw_list['mydate'] = pd.to_datetime(raw_list['mydate'], format='%Y%m%d')

lc_or = raw_list.loc[(raw_list['state'] == my_state) & (raw_list['county'] == my_county) & (raw_list['mydate'] > '2020-02-29')]

# Use copy() method, otherwise the new DataFrame is a "slice" of the original
# https://stackoverflow.com/questions/60639531/a-value-is-trying-to-be-set-on-a-copy-of-a-slice-from-a-dataframe-using-pandas
lc_or_select = lc_or[['mydate', 'cday', 'dday']].copy()

In [229]:
lc_or_select['ma'] = lc_or_select['cday'].rolling(7).mean()

In [230]:
lc_or_select.head()

           mydate  cday  dday  ma
284703 2020-03-01   0.0   0.0 NaN
284704 2020-03-02   0.0   0.0 NaN
284705 2020-03-03   0.0   0.0 NaN
284706 2020-03-04   0.0   0.0 NaN
284707 2020-03-05   0.0   0.0 NaN

In [231]:
lc_or_select.to_csv('{}{}.csv'.format(my_state, my_county), index=False)