In [208]:
import pandas as pd

In [209]:
# raw_list = pd.read_csv("~/Downloads/lane_county - lane_county_selected.csv")
raw_list = pd.read_csv("https://irma.gatehousemedia.com/misc/20200417-covid-county-analysis/dailyreport-latest.csv")

In [210]:
raw_list.head()

,state,county,mydate,pop,fullfips,confirmed,deaths,cpc,dpc,cday,dday,cweek,dweek,2-week per-capita growth,2-week percentage growth
0,American Samoa,NaN,20200122,55641,60.0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,American Samoa,NaN,20200123,55641,60.0,0,0,0,0,0.0,0.0,NaN,NaN,NaN,NaN
2,American Samoa,NaN,20200124,55641,60.0,0,0,0,0,0.0,0.0,NaN,NaN,NaN,NaN
3,American Samoa,NaN,20200125,55641,60.0,0,0,0,0,0.0,0.0,NaN,NaN,NaN,NaN
4,American Samoa,NaN,20200126,55641,60.0,0,0,0,0,0.0,0.0,NaN,NaN,NaN,NaN

In [211]:
raw_list.state.value_counts()

Texas                       44288
Georgia                     27853
Virginia                    23355
Kentucky                    21106
Missouri                    20414
Kansas                      18511
Illinois                    17992
North Carolina              17646
Iowa                        17473
Tennessee                   16781
Nebraska                    16435
Indiana                     16262
Ohio                        15570
Minnesota                   15397
Michigan                    15051
Mississippi                 14532
Oklahoma                    13667
Arkansas                    13321
Wisconsin                   12802
Alabama                     11937
Florida                     11937
Pennsylvania                11937
South Dakota                11764
Louisiana                   11418
Colorado                    11418
New York                    11072
California                  10380
Montana                     10034
West Virginia                9861
North Dakota                 9515
South Carolina               8304
Idaho                        7958
Washington                   7093
Oregon                       6574
Utah                         6401
New Mexico                   6055
Alaska                       5363
Maryland                     4498
Wyoming                      4325
New Jersey                   3979
Nevada                       3287
Maine                        3114
Arizona                      2941
Massachusetts                2941
Vermont                      2768
New Hampshire                2076
Connecticut                  1730
Hawaii                       1211
Rhode Island                 1211
Delaware                      865
District of Columbia          519
Northern Mariana Islands      173
American Samoa                173
Puerto Rico                   173
Grand Princess                173
Guam                          173
Diamond Princess              173
Virgin Islands                173
Name: state, dtype: int64

In [212]:
# Just get the rows of the county you want
my_state = 'Oregon'
my_county = 'Marion'

raw_list['mydate'] = pd.to_datetime(raw_list['mydate'], format='%Y%m%d')

lc_or = raw_list.loc[(raw_list['state'] == my_state) & (raw_list['county'] == my_county) & (raw_list['mydate'] > '2020-02-29')]

# Use copy() method, otherwise the new DataFrame is a "slice" of the original
# https://stackoverflow.com/questions/60639531/a-value-is-trying-to-be-set-on-a-copy-of-a-slice-from-a-dataframe-using-pandas
lc_or_select = lc_or[['mydate', 'cday', 'dday']].copy()

In [213]:
lc_or_select['ma'] = lc_or_select['cday'].rolling(7).mean()

In [214]:
lc_or_select.head()

           mydate  cday  dday  ma
400361 2020-03-01   0.0   0.0 NaN
400362 2020-03-02   0.0   0.0 NaN
400363 2020-03-03   0.0   0.0 NaN
400364 2020-03-04   0.0   0.0 NaN
400365 2020-03-05   0.0   0.0 NaN

In [215]:
lc_or_select.to_csv('{}{}.csv'.format(my_state, my_county), index=False)